global
    maxconn 2000
    daemon

defaults
    log     global
    mode    tcp
    option  dontlognull
    timeout connect 5s
    timeout client  1m
    timeout server  1m


resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry 1s
    hold valid 10s




    listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /haproxy?stats
    stats refresh 5s
    monitor-uri /healthz




frontend postgres_ledger
    bind *:5432
    default_backend pg_back

backend pg_back
    mode tcp
    option pgsql-check user postgres228

    server pgcache pgcache:5432 check port 5432 inter 2s rise 1 fall 1

    server postgres-instance postgres:5432 check port 5432 inter 5s rise 1 fall 2 backup




frontend caddy
    mode http
    bind *:8000 ssl crt /usr/local/etc/haproxy/example.com.pem
    default_backend caddy_backend

backend caddy_backend
    mode http
    timeout check 1s
    option httpchk
    http-check send meth GET uri /_caddy_ready ver HTTP/1.1 hdr Host example.com
    http-check expect status 200
    server caddy-proxy caddy:8000 check port 8001 inter 3s rise 1 fall 3




frontend temporal_ui
    bind *:8081
    mode http
    default_backend temporal_backend

backend temporal_backend
    mode http
    timeout check 1s
    option httpchk
    http-check expect status 204
    server temporal-ui temporal-ui:8081 check port 8081 inter 5s rise 2 fall 3 resolvers docker init-addr last,libc,none




frontend keycloak
    bind *:8080
    mode http
    # /acl is_admin path_beg /admin   to restrict url only to ones that starts with /admin
    # use_backend keycloak_backend if is_admin
    default_backend keycloak_backend

backend keycloak_backend
    mode http
    timeout check 1s
    option httpchk
    http-check send meth GET uri /health/ready ver HTTP/1.1 hdr Host example.com
    server keycloak keycloak:8080 check port 9000 inter 5s rise 1 fall 2
