{
    debug
    grace_period 10s
}

:8001 {
    @ready path /_caddy_ready
    handle @ready {
    respond "ok" 200
}
}

:8000 {
reverse_proxy backend-api:8000 {
    health_uri /aux/health
    health_interval 5s
    health_timeout 1s
}
}

:8080 {
    reverse_proxy keycloak:8080 {
    health_uri /health/ready
    health_interval 10s
    health_timeout 2s
    health_port 9000
}
}