{
    debug
    grace_period 10s
}

(keykloack_healthcheck) {
    health_uri /health/ready
    health_interval 10s
    health_timeout 2s
    health_port 9000
}

(ledger_healthcheck) {
    health_uri /aux/health
    health_interval 5s
    health_timeout 1s
}

(headers_for_keycloak) {
    header_up X-Forwarded-For {remote}
#   as backend uses http connection to KeyCloak internally we have 2 use it too here
#   in order to have same ISS field inside JWT
    header_up X-Forwarded-Proto http

    header_up X-Forwarded-Host {$KEYCLOAK_DOMAIN}

    header_up X-Forwarded-Port {$KEYCLOAK_PORT}

}

(ledger_reverce_proxy) {
    reverse_proxy backend-api:8000 {
            import ledger_healthcheck
                }
            }

(handle_401_response) {
    @bad_auth status 401
    handle_response @bad_auth {
        respond "Token is invalid or outdated" 401
        copy_response_headers * {
                    include Www-Authenticate
                }
    }
}

# Caddy self healthcheck
:8001 {
    @ready path /_caddy_ready
    handle @ready {
    respond "ok" 200
}
}

# ledger backend
:8000 {
    vars {
            KC_BASE_URL /realms/{$KEYCLOACK_LEDGER_REALM}/protocol/openid-connect
        }

    #   valid until 24.03.27
    tls /etc/caddy/ncert.pem /etc/caddy/nkey.pem

    @login+refresh {
        method POST
        path /user/login /user/refresh
    }
#   Proxying token sourcing and refreshing to keykloack endpoint. Both operation use same EP.
    handle @login+refresh {
        rewrite * {vars.KC_BASE_URL}/token

        reverse_proxy keycloak:8080 {
            import keykloack_healthcheck
            import headers_for_keycloak
            }
        }

    @exclude_from_auth {
        method GET HEAD TRACE
        path /aux/health /docs
    }
    handle @exclude_from_auth {
        import ledger_reverce_proxy
    }

    @userinfo {
        method GET
        path /user
    }
    handle @userinfo {
       reverse_proxy keycloak:8080 {
           rewrite {vars.KC_BASE_URL}/userinfo
           import headers_for_keycloak
           import handle_401_response
        }
    }

    handle  * {
        reverse_proxy keycloak:8080 {
            method GET
            rewrite {vars.KC_BASE_URL}/userinfo
            header_up X-Forwarded-Method {method}
	        header_up X-Forwarded-Uri {uri}
            import headers_for_keycloak

            @good_auth status 200
            handle_response @good_auth {
                reverse_proxy backend-api:8000 {
                    import ledger_healthcheck
    #                proxy same client with same openid token to a same pod
                    lb_policy header Bearer {
                        fallback least_conn
                        }
                    }
            }
            import handle_401_response
        }
    }
}

#  temporal web ui
:8081 {
    reverse_proxy temporal-ui:8081
}

#  HAproxy web ui
:8404 {
    reverse_proxy haproxy:8404
}