{
    debug
    grace_period 10s
}

(keykloack_healthcheck) {
    health_uri /health/ready
    health_interval 10s
    health_timeout 2s
    health_port 9000
}

(ledger_healthcheck) {
    health_uri /aux/health
    health_interval 5s
    health_timeout 1s
}

# Caddy self healthcheck
:8001 {
    @ready path /_caddy_ready
    handle @ready {
    respond "ok" 200
}
}

# ledger backend
:8000 {
#   valid until 24.03.27
    tls /etc/caddy/certificate.pem /etc/caddy/privatekey.pem

    @login path /user/login

#   Proxying token sourcing to keykloack endpoint
    handle @login {
        rewrite * /realms/{$KEYCLOACK_LEDGER_REALM}/protocol/openid-connect/token

        reverse_proxy keycloak:8080 {
            import keykloack_healthcheck

            header_up X-Forwarded-For {remote}
#           as backend uses http connection to KeyCloak internally we have 2 use it to here
#           in order to have same ISS field inside JWT
            header_up X-Forwarded-Proto http

            header_up X-Forwarded-Host {$KEYCLOAK_DOMAIN}

            header_up X-Forwarded-Port {$KEYCLOAK_PORT}
            }
        }

    handle * {
        reverse_proxy backend-api:8000 {
            import ledger_healthcheck
                }
            }
}

# all keycloak (amin, etc))
:8080, :8443 {
    reverse_proxy keycloak:8080 {
    import keykloack_healthcheck
}
}